<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
        <div class="left-bg">
        <mat-list-item>
           
          <mat-icon mat-list-icon class="chevron-button sidenav-button" (click)="isExpanded = !isExpanded" [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
        </mat-list-item>
         </div>
      

        <mat-list-item  [routerLink]="'dashboard'" (click)="editfaculty(facultyinfo)">
          <mat-icon mat-list-icon >home</mat-icon>
          <span *ngIf="isExpanded">Dashboard</span>
          <mat-icon mat-list-icon class="chevron-button1 sidenav-button" (click)="isExpanded1 = !isExpanded1" [ngClass]="{'rotated': isExpanded1}">chevron_right</mat-icon>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'editfacultyprofile'">
         
          <mat-icon mat-list-icon>important_devices</mat-icon>
          <span *ngIf="isExpanded">profile</span>  
          <mat-icon mat-list-icon class="chevron-button1 sidenav-button" (click)="isExpanded1 = !isExpanded1" [ngClass]="{'rotated': isExpanded1}">chevron_right</mat-icon>
         
        
        </mat-list-item>
        <mat-list-item >
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded">INFO
          
          </span>  
         
          
          <mat-icon mat-list-icon class="chevron-button1 sidenav-button" (click)="isExpanded1 = !isExpanded1" [ngClass]="{'rotated': isExpanded1}">chevron_right</mat-icon>
        </mat-list-item>

  
        <mat-list-item>
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded">Job post</span>
          <mat-icon mat-list-icon class="chevron-button1 sidenav-button" (click)="isExpanded1 = !isExpanded1" [ngClass]="{'rotated': isExpanded1}">chevron_right</mat-icon>
        </mat-list-item>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <div class="content">
      <mat-toolbar>
      
        <h4>Hello everyone</h4>
      </mat-toolbar>
     
      <router-outlet></router-outlet>
    </div>
  
  </mat-sidenav-container>
