<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto" id="spl">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0" >
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form  (ngSubmit)="loginUser()">
              <div >
                <label for="uname1">Username</label>
                <input type="text" name="uname" [(ngModel)]="user.uname"/>
             
                </div>
              <div>
                <label>Password</label>
                <input type="password" name="password" [(ngModel)]="user.password"/>
                </div>
              <br>
              <button type="submit" class="btn btn-success float-right">Login</button>&nbsp;&nbsp;
              <button type="Cancel" class="btn btn-success float-right">Cancel</button>
            </form>                             
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>
